@media only screen and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }

    .container {
        width: 100%;
    }
    .burger-menu{
        display: block;
        position: fixed;
        width: 100%;
        height: 25px;
        top: 30px;
        right: 30px;
        z-index: 99;
        svg {
            float: right;
            color: black;
            width: 25px;
        }
    }

    .logo {
        width: 100%;
        margin-top: 100px;
        font-size: 30px;
        padding: 0;
        >div {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 0;
            width: 100%;
            img{
                align-self: center;
                justify-self: center;
            }
        }
    }

    #upper-menu {
        nav{
            top: 0px;
            transition: height 2s;
            position: fixed;
            display: none;
            width: 100%;
            height: 200px;
            background-color: black;
            overflow-y: scroll;
            z-index: 98;
            ul {
                margin-top: 60px;
                li {
                    display: block;
                }
            }
            
        }
        
    }

    #sign_up {
        justify-content: unset;
        h1 {
            display: none;
        }
    
        p {
            margin-top: 100px;
            font-size: 18px;
            padding: 20px;
        }
    
        button {
            margin-top: 100px;
        }
    }
    
    .grid-3 {
        grid-template-columns: unset;
        grid-template-rows: 355px 355px 355px;
        grid-row-gap: 100px;
    }
    
    .grid-4 {
        grid-template-columns: 222px 222px;
        grid-template-rows: 222px 222px;
    }
    
    .number-behind {
        width: 191px;
    }

    #app-download {
        text-align: center;
        flex-direction: column;
        
        > div:first-of-type {
            width: 100%;
            > div {
                width: 100%;
                &:first-child
                {
                    max-width: 80%;
                }
            }
        }
    }

    .app-icons {
        grid-template-columns: 30% 30% 30%;
        margin-left: 10%;
        align-items: center;
        justify-content: center;
    }

    .app-media {
        width: 100%;
        align-items: flex-start;
        justify-content: left;
        padding-bottom: 50px;
        > div {
            
        } 
        > div:nth-of-type(1) {
            position: absolute;
            margin-top: 17px;
            margin-left: -40px;
            z-index: 0;
            img {
                width: 315px;
                height: 219px;
                border-radius: 15px;
            }
        }
        > div:nth-of-type(2) {
            position: relative;
            margin-left: 0;
            img {
                width: 358px;
                height: 280px;
                height: auto;
                border-radius: 15px;
            }
            z-index: 1;
        }
        > div:nth-of-type(3) {
            position: absolute;
            margin-top: 17px;
            width: 80%;
            left: 55px;
            z-index: 0;
            img {
                width: 315px;
                height: 219px;
                height: auto;
                border-radius: 15px;
            }
        }
        
    }

    #contact{
        flex-direction: column;
        padding-bottom: 100px;
        > div {
            width: 100%;
            text-align: center;
            padding-bottom: 0;
            
            &:nth-of-type(1){
                > div {
                    width: 100%;
                    padding: 10px;
                    p {
                        text-align: center;
                        width: 100%;
                    }
                }
            }

            &:nth-of-type(2) {
                form {
                    flex-direction: column;
                    width: 100%;
                    padding-top: 0;
                    input {
                        width: 80%;

                        &:nth-of-type(1), &:nth-of-type(2)
                        {
                            width: 80%;
                        }
                    }

                    select {
                        width: 100%;
                    }
                }  
            }
        }

    }

    .select-container {
        width: 83%;
    }
}
@media only screen and (max-width: 600px) {

    .burger-menu{
        display: block;
        position: fixed;
        width: 100%;
        height: 25px;
        top: 30px;
        right: 30px;
        z-index: 99;
        svg {
            float: right;
            color: black;
            width: 25px;
        }
    }

    .logo {
        width: 100%;
        margin-top: 100px;
        font-size: 30px;
        padding: 0;
        >div {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 0;
            width: 100%;
            img{
                align-self: center;
                justify-self: center;
            }
        }
    }

    #upper-menu {
        nav{
            top: 0px;
            position: fixed;
            transition: height 2s;
            display: none;
            width: 100%;
            height: 0px;
            background-color: black;
            overflow-y: scroll;
            z-index: 98;
            ul {
                margin-top: 60px;
                li {
                    display: block;
                }
            }
            
        }
        
    }

    #sign_up {
        justify-content: unset;
        h1 {
            display: none;
        }
    
        p {
            margin-top: 100px;
            font-size: 18px;
            padding-inline: 20px;
        }
    
        button {
            margin-top: 100px;
        }
    }
    
    .grid-3 {
        grid-template-columns: unset;
        grid-template-rows: 355px 355px 355px;
        grid-row-gap: 100px;
    }
    
    .grid-4 {
        grid-template-columns: unset;
        grid-template-rows: 222px 222px 222px;
    }
    
    .number-behind {
        width: 191px;
    }

    #app-download {
        text-align: center;
        flex-direction: column;
        
        > div:first-of-type {
            width: 100%;
            > div {
                width: 100%;
                &:first-child
                {
                    max-width: 80%;
                }
            }
        }
    }

    .app-icons {
        grid-template-columns: 30% 30% 30%;
        margin-left: 10%;
        align-items: center;
        justify-content: center;
    }

    .app-media {
        width: 100%;
        align-items: flex-start;
        justify-content: left;
        padding-bottom: 50px;
        > div {
            width: 100%;
        } 
        > div:nth-of-type(1) {
            position: absolute;
            margin-top: 17px;
            margin-left: -40px;
            z-index: 0;
            img {
                width: 215px;
                height: 150px;
                border-radius: 15px;
            }
        }
        > div:nth-of-type(2) {
            position: relative;
            margin-left: 0;
            img {
                width: 258px;
                height: 180px;
                height: auto;
                border-radius: 15px;
            }
            z-index: 1;
        }
        > div:nth-of-type(3) {
            position: absolute;
            margin-top: 17px;
            width: 38%;
            z-index: 0;
            img {
                float: right;
                width: 215px;
                height: 150px;
                height: auto;
                border-radius: 15px;
            }
        }
        
    }

    #contact{
        flex-direction: column;
        padding-bottom: 100px;
        > div {
            width: 100%;
            text-align: center;
            padding-bottom: 0;
            
            &:nth-of-type(1){
                > div {
                    width: 100%;
                    padding: 10px;
                    p {
                        text-align: center;
                        width: 100%;
                    }
                }
            }

            &:nth-of-type(2) {
                form {
                    flex-direction: column;
                    width: 100%;
                    padding-top: 0;
                    input {
                        width: 80%;

                        &:nth-of-type(1), &:nth-of-type(2)
                        {
                            width: 80%;
                        }
                    }

                    select {
                        width: 100%;
                    }
                }  
            }
        }

    }

    .select-container {
        width: 88%;
    }
}




